.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;

    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    max-width: 1000px;
    border: none;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

.addToCartButton {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.addToCartButton:hover {
    background-color: #0056b3;
}

#checkoutButton {
    flex: 9;
    padding: 20px;
    background-color: #28a745;
    text-align: center;
    cursor: pointer;
    color: #fff;
    border: none;
}

#viewCartButton {
    flex: 1;
    padding: 20px;
    background-color: #007bff;
    text-align: center;
    cursor: pointer;
    color: #fff;
    border: none;
}

#checkoutButton:hover {
    background-color: #218838;
}

#viewCartButton:hover {
    background-color: #0056b3;
}