.itemPrice {
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px 0;
    color: #007bff;
}

.itemName {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.4;
    min-height: calc(1.4em * 2);
}

.grid-container {
    padding-top: 50px;
    padding-bottom: 100px;
    display: grid;
    /* place-items: center; */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: viewport;
    max-width: 1000px;
    margin: 0 auto;
}

.grid-item {
    max-width: 500px;
    max-height: calc(max-width 9/6);
    aspect-ratio: 9/6;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: left;
    padding: 5px;
}

.itemImage {
    width: 100%;
    object-fit:cover;
    border-radius: 4px 4px 0 0;
}

/* .item-pricing-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.numberInput {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    /* border: none; */
    /* border-radius: 5px; */
    /* background-color: #f4f4f4; */
    color: #000;
    cursor: pointer;
}